<div class="container">
  <h1>Cocktails</h1>

<div id="carouselControls" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= link_to new_cocktail_path do %>
      <img src="https://images.unsplash.com/photo-1552215147-ebe5751c9eba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="carousel-img d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h3>Create your own cocktail</h3>
        </div>
      <% end %>
    </div>
    <% @cocktails.each do |cocktail| %>
      <div class="carousel-item">
        <%= link_to cocktail_path(cocktail) do %>
        <% if cocktail.photo.attached? %>
          <img src="<%= url_for cocktail.photo %>" class="carousel-img d-block" alt="">
        <% else %>
          <img src="https://images.unsplash.com/photo-1536935338788-846bb9981813?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=986&q=80" class="carousel-img d-block" alt="">
        <% end %>
        <div class="carousel-caption d-none d-md-block">
          <h3><%= cocktail.name %></h3>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card" style="width: 18rem;">
      <% if cocktail.photo.attached? %>
        <img src="<%= url_for cocktail.photo %>" class="card-img-top" alt="">
      <% else %>
        <img src="https://images.unsplash.com/photo-1536935338788-846bb9981813?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=986&q=80" class="card-img-top" alt="">
      <% end %>
      <div class="card-body">
        <a href="<%= cocktail_path(cocktail) %>" class="btn btn-primary"><%= cocktail.name %></a>
      </div>
    </div>
  <% end %>
</div>

  <div class="card" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1552215147-ebe5751c9eba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" id="new-card-img" alt="">
    <div class="card-body">
      <a href="<%= new_cocktail_path %>" class="btn btn-primary">Create a new cocktail</a>
    </div>
  </div>

<div class="btn">
  <%= link_to "List of ingredients", ingredients_path %>
</div>
<div class="btn">
  <%= link_to "Create a cocktail", new_cocktail_path %>
</div>

</div>
