<h1><%= @cocktail.name %></h1>

<p>Ingredients:</p>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.ingredient.name.capitalize %> (<%= dose.description %>) <%= link_to "Remove", dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
</ul>

<%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %>

<%= link_to 'Delete', cocktail_path, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to "Back to cocktails", cocktails_path %>
